<a href="/">
    <img src="/assets/logo-cdmx.png" alt="Gobierno de la Ciuda de México" class="header-plaza__logo">
    <img src="/assets/logo-plazapublica.svg" alt="Plaza Pública" class="header-plaza__logo">
</a>
