
<section class="extended hero home-section" style="background-image:url(<%= background_image %>);">
  <div class="hero__container text-center">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight font-weight-bold hero__title">
          <% if translated_welcome_text.blank? %>
            <%= t("decidim.pages.home.hero.welcome", organization: current_organization.name) %>
          <% else %>
            <%= decidim_sanitize translated_welcome_text %>
          <% end %>
        </h1>
        <h3 class="text-highlight hero__excerpt">Plaza Pública es la plataforma de participación de la Ciudad de México donde la ciudadanía puede proponer, debatir, votar y decidir proyectos y disposiciones que afectan su vida en la ciudad.</h3>
        <div class="media-plaza">
          <div>
              <h2 class="media-plaza__title">Programa de Gobierno 2018 - 2024</h2>
              <p class="media-plaza__excerpt">Conoce y comenta a favor o en contra de las <span>acciones del Programa de Gobierno 2019-2024</span></p>
              <a href="https://plazapublica.cdmx.gob.mx/processes/programa-de-gobierno-cdmx" class="btn media-plaza__btn">Participar</a>
          </div>
          <%= image_tag "card-img.jpg", class: "media-plaza__image", alt: "edificios en la cdmx"  %>
        </div>
      </div>
    </div>
  </div>
</section>
