
<section class="extended hero home-section" style="background-image:url(<%= background_image %>);">
  <div class="hero__container text-center">
    <div class="row">
      <div class="columns small-centered large-10">
        <h1 class="text-highlight font-weight-bold">
          <% if translated_welcome_text.blank? %>
            <%= t("decidim.pages.home.hero.welcome", organization: current_organization.name) %>
          <% else %>
            <%= decidim_sanitize translated_welcome_text %>
          <% end %>
        </h1>
        <h3 class="text-highlight">Plaza Pública es la plataforma de participación de la Ciudad de México donde la ciudadanía puede proponer, debatir, votar y decidir proyectos y disposiciones que afectan su vida en la ciudad.</h3>
        <div class="media-plaza text-left">
          <div>
              <h2 class="media-plaza__title">Plan de gobierno 2018-2024</h2>
              <p class="media-plaza__excerpt">Participa dando tu opinión en el texto <span>colaborativo del Plan de Gobierno de la</span> Ciudad de México.</p>
              <div class="media-plaza__controls">
                  <a href="https://plazapublica.cdmx.gob.mx/processes/programa-de-gobierno-cdmx" class="btn media-plaza__btn-link">Más información</a>
                  <a href="https://plazapublica.cdmx.gob.mx/processes/programa-de-gobierno-cdmx" class="btn media-plaza__btn">Participar</a>
              </div>
          </div>
          <%= image_tag "card-img.jpg", class: "media-plaza__image", alt: "edificios en la cdmx"  %>
        </div>
      </div>
    </div>
  </div>
</section>
