.bg-header{
  background-color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container{
  display: flex;
  flex-direction: column;
}

.size-logo{
  height: 50px;
  width: auto;
}
 .bg-nav{
   background-color: #f8f8f8;
 }

.list-style{
  display: flex;
  list-style: none;
  padding: 0px;
  margin-left: auto;
}

.text-li{
  margin: 0.25em 0.50em;
  font-size: 13px;
  font-weight: bold;
  color: #505050;
}

.fit{
  width: fit-content;
  margin-left: auto;
}

.rectangle{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background-image: linear-gradient(to right, #0f4c42 0%, #00b140 67%, #91d400 100%), linear-gradient(to bottom, #00b140, #00b140);
  padding-left: 0;
  padding-right: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-rectangles{
  font-weight: bold;
  font-size: 1.75rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media (max-width: 576px) {
  .list-style {
     flex-direction: column;
     align-items: center;
     }
  .fit{
      margin: auto;
  }
  .size-logo{
    width: 100%;
  }
  .rectangle{
    height: auto;
  }
  .text-rectangles{
    font-size: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
