$navbar-bg: $white;
$navbar-color: $dark-gray;
$navbar-color-hover: $dark-gray;
$navbar-active-color: $dark-gray;


/* Variables */

$navbar-bg: $dark-gray;
$navbar-bg-hover: rgba(white, .02);
$navbar-active-bg: $navbar-bg-hover;
$navbar-active-shadow-small: inset 4px 0 0 0 var(--primary);
$navbar-active-shadow-medium: inset 0 4px 0 0 var(--primary);
