// // Variables
//
$primary: #E5406A;
$secondary: #2CC4CF;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
@font-face {
  font-family: Metropolis;
  src: url('https://www.adip.cdmx.gob.mx/storage/app/media/Rally/metropolis/Metropolis-Regular.otf');
}

@font-face {
  font-family: Metropolis_Bold;
  src: url('https://www.adip.cdmx.gob.mx/storage/app/media/Rally/metropolis/Metropolis-Bold.otf');
}


@import "decidim/application";


* {
  box-sizing: border-box;
  font-family: 'Metropolis', 'Helvetica Neue', sans-serif !important;
}

[class*="cole-"] {
    float: left;
    padding: 15px;
}

.rowo::after {
  content: "";
  clear: both;
  display: table;
}

.rowo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rowo {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.rowo:not(.expanded) .rowo {
      max-width: none;
}

@media print, screen and (min-width: 64em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media screen and (min-width: 50em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
@media print, screen and (min-width: 40em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media screen and (min-width: 28.125em) {
  .rowo .rowo {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

.rowo .rowo {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}


.col, .cole-1, .cole-10, .cole-11, .cole-12, .cole-2, .cole-3, .cole-4, .cole-5, .cole-6, .cole-7, .cole-8, .cole-9, .cole-auto, .cole-lg, .cole-lg-1, .cole-lg-10, .cole-lg-11, .cole-lg-12, .cole-lg-2, .cole-lg-3, .cole-lg-4, .cole-lg-5, .cole-lg-6, .cole-lg-7, .cole-lg-8, .cole-lg-9, .cole-lg-auto, .cole-md, .cole-md-1, .cole-md-10, .cole-md-11, .cole-md-12, .cole-md-2, .cole-md-3, .cole-md-4, .cole-md-5, .cole-md-6, .cole-md-7, .cole-md-8, .cole-md-9, .cole-md-auto, .cole-sm, .cole-sm-1, .cole-sm-10, .cole-sm-11, .cole-sm-12, .cole-sm-2, .cole-sm-3, .cole-sm-4, .cole-sm-5, .cole-sm-6, .cole-sm-7, .cole-sm-8, .cole-sm-9, .cole-sm-auto, .cole-xl, .cole-xl-1, .cole-xl-10, .cole-xl-11, .cole-xl-12, .cole-xl-2, .cole-xl-3, .cole-xl-4, .cole-xl-5, .cole-xl-6, .cole-xl-7, .cole-xl-8, .cole-xl-9, .cole-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cole-sm-12 {
    width: 100%;
}

.cardo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 768px) {
  .cole-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .cole-md-8 {
      -ms-flex: 0 0 66.666666%;
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
  }
}

@media (max-width: 576px){
  .cole-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-left {
    text-align: left!important;
}

h5 {
    font-size: 1.25rem;
}


.processes-home-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: white !important;
}

.processes-heading {
  color: #282828;
}

.processes-heading-box {
  margin-bottom: 2rem;
}

.bg-gray {
  background-color: #F5F5F5;
  box-shadow: 2px 5px 15px #D3D3D3;
}

.card__image-top {
  height: 12rem !important;
}

.text-align-right {
  text-align: right !important;
}

.hero::after {
  background-color: transparent;
}
