// // Variables
//
// $primary: #E5406A;
// $secondary: #2CC4CF;
// $success: #57d685;
// $warning: #ffae00;
// $alert: #ec5840;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;

$adipgray: #929190;
$adipgreen: #28a231;
$darkiegray: #8e8e8e;

$primary: $adipgreen;
.top-bar-plaza-publica > * {
  background-color: #fff !important;
  color: $adipgray !important;
}

.top-bar-plaza-publica {
  background-color: #fff !important;
}
.logo-wrapper span {
  color: $adipgray !important;
}

.topbar__dropmenu > ul > li > a {
  color: $adipgray !important;
}

.topbar__dropmenu > ul > li > a::after {
  color: $adipgreen !important;
}

#dropdown-pp > ul > li > a::after {
  border-top-color: $adipgreen !important;
}


.topbar__user__login a {
  color: $adipgray !important;
}

@font-face {
  font-family: Metropolis;
  src: url('https://www.adip.cdmx.gob.mx/storage/app/media/Rally/metropolis/Metropolis-Regular.otf');
}

@font-face {
  font-family: Metropolis_Bold;
  src: url('https://www.adip.cdmx.gob.mx/storage/app/media/Rally/metropolis/Metropolis-Bold.otf');
}


@import "decidim/application";


* {
  box-sizing: border-box;
  font-family: 'Metropolis', 'Helvetica Neue', sans-serif !important;
}

[class*="cole-"] {
    float: left;
    padding: 15px;
}

.rowo::after {
  content: "";
  clear: both;
  display: table;
}

.rowo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.rowo {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.rowo:not(.expanded) .rowo {
      max-width: none;
}

@media print, screen and (min-width: 64em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media screen and (min-width: 50em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}
@media print, screen and (min-width: 40em) {
  .rowo .rowo {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media screen and (min-width: 28.125em) {
  .rowo .rowo {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
}

.rowo .rowo {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}


.col, .cole-1, .cole-10, .cole-11, .cole-12, .cole-2, .cole-3, .cole-4, .cole-5, .cole-6, .cole-7, .cole-8, .cole-9, .cole-auto, .cole-lg, .cole-lg-1, .cole-lg-10, .cole-lg-11, .cole-lg-12, .cole-lg-2, .cole-lg-3, .cole-lg-4, .cole-lg-5, .cole-lg-6, .cole-lg-7, .cole-lg-8, .cole-lg-9, .cole-lg-auto, .cole-md, .cole-md-1, .cole-md-10, .cole-md-11, .cole-md-12, .cole-md-2, .cole-md-3, .cole-md-4, .cole-md-5, .cole-md-6, .cole-md-7, .cole-md-8, .cole-md-9, .cole-md-auto, .cole-sm, .cole-sm-1, .cole-sm-10, .cole-sm-11, .cole-sm-12, .cole-sm-2, .cole-sm-3, .cole-sm-4, .cole-sm-5, .cole-sm-6, .cole-sm-7, .cole-sm-8, .cole-sm-9, .cole-sm-auto, .cole-xl, .cole-xl-1, .cole-xl-10, .cole-xl-11, .cole-xl-12, .cole-xl-2, .cole-xl-3, .cole-xl-4, .cole-xl-5, .cole-xl-6, .cole-xl-7, .cole-xl-8, .cole-xl-9, .cole-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.cole-sm-12 {
    width: 100%;
}

.cardo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 768px) {
  .cole-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
  }
  .cole-md-8 {
      -ms-flex: 0 0 66.666666%;
      flex: 0 0 66.666666%;
      max-width: 66.666666%;
  }
}

@media (max-width: 576px){
  .cole-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.text-left {
    text-align: left!important;
}

h5 {
    font-size: 1.25rem;
}


.processes-home-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: white !important;
}

.processes-heading {
  color: #282828;
}

.processes-heading-box {
  margin-bottom: 2rem;
}

.bg-gray {
  background-color: #F5F5F5;
  box-shadow: 2px 5px 15px #D3D3D3;
}

.card__image-top {
  height: 12rem !important;
}

.text-align-right {
  text-align: right !important;
}

.hero::after {
  background-color: transparent;
}

.header-plaza {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  position: relative;

  &::before,
  &::after {
    content: normal;
  }

  &__logo {
    height: 50px;
    width: auto;
    @media (max-width: 767.98px) {
      height: 40px;
    }

    &:last-of-type {
      border-left: 1px solid #979797;
      margin-left: 0.85rem;
      padding-left: 0.85rem;
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      position: relative;
      transition-duration: 0.5s;

      a {
        color: #898d8d;
        display: block;
        height: 100%;
      }

      &:hover,
      &:focus-within {
        cursor: pointer;
      }

      &:focus-within a {
        outline: none;
      }
    }

    > li {
      font-weight: 500;

      + li {
        margin-left: 6px;
        padding-left: 10px;

        &::before {
          align-items: center;
          bottom: 0;
          color: #28a231;
          content: '|';
          display: flex;
          font-size: 20px;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }

    .dropdown {
      margin-right: 1rem;

      a::after {
        border-color: #28a231 transparent transparent;
      }
    }
  }
}

.hero__title {
  @media (max-width: 480px) {
    font-size: 2.2rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
}

.hero__excerpt {
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.media-plaza {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: inline-flex;
  margin-top: 3rem;
  padding: 1.5rem 2.75rem;
  text-align: left;
  @media (max-width: 767.98px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 480px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__image {
    border-radius: 50%;
    height: 170px;
    margin: 0 auto 1.5rem auto;
    width: 170px;
    @media (min-width: 768px) {
      margin: 0 0 0 3rem;
    }
  }

  &__title {
    color: #00b140;
    font-size: 1.5625rem;
    font-weight: 600;
  }

  &__excerpt {
    color: black;
    font-size: 1.125rem;
    @media (min-width: 767.98px) {

      span {
        display: block;
      }
    }
  }

  &__btn-link {
    color: #00843d;
  }

  &__btn {
    background-color: #00b140;
    border-color: #00b140;
    border-radius: 7px;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.footer-plaza-publica-adip{
  background-color:#262629;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1rem;
  @media (max-width: 715px) {
    flex-direction: column;
  }
}

.caja-footer-plaza-publica {
  @media (max-width: 715px) {
    margin-bottom: 3rem;
  }
  @media (max-width: 390px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.image-fondo-negro-gobierno{
  padding-right: 10px;
  border-right-style: 2px solid #ffffff;
}

.image-logo-adip {
  margin-left: 10px;
}

.image-logo--plaza-adip {
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 8px;
  border-left-style: solid;
  border-left-color: #ffffff;
  border-left-width: 2px;
}

.texto-footer-adip-plaza {
  margin-bottom: 0;
  font-size: 1rem;
  color: #fff;
  @media (max-width: 576.98px) {
    font-size: 0.875rem;
  }

  + .texto-footer-adip-plaza {
    margin-left: 1.5rem;
    @media (max-width: 390px) {
      margin-left: 1.2rem;
    }
  }
}

.footer__logo {
  height: 30px;
  width: auto;

  &--sm {
    height: 22px;
  }

  + .footer__logo {
    @media (min-width: 391px) {
      border-left: 1px solid white;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
    @media (max-width: 390px) {
      margin-bottom: 1rem;
    }
  }
}

.footer-separator {

  > main,
  & {
    display: flex;
    flex-direction: column;
  }

  > main {

    .hero,
    & {
      flex-grow: 1;
    }
  }
}

@media (max-width: 639px) {
  .mini-footer .large-4 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.topbar__notifications .icon,
.topbar__conversations .icon {
  fill: $darkiegray;
  opacity: .3;
}

.topbar__user__logged {
  margin-left: 0;
  padding-right: 0;

  .dropdown {
    margin-right: 0;

    > li a {
      padding-right: 0;
    }
  }
}

.index_right_proposals {
  position: absolute;
  right: 0;
  display: block;
  @media (max-width: 639px) {
    display: none;
  }
}

.proposal_content_left {
  position: relative;
  z-index: 10;
}

.mini-footer {
  padding: 0;
  font-size: 0.6em;
  background-color: #000000;
  .row {
    max-width: none;
  }
}

.decidim-logo-min img {
  height: 20px;
}

.cc-badge img {
  height: 20px;
}